body{
  background: #eaedf1;
}

.container{
  background: #fff;
}

.links{
  a{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;

    &:first-child{
      margin-left: 0;
    }

  }
}
